.ls title {
  margin: 40px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font:bold;
  font-style: italic;
}

.ls {
  background: #fff;
  padding: 70px;
  margin: 50px;
  border: solid;
  margin-top: 10px;
  text-align: center;
}

.link-container h2 {
  background-color: #abd5ea;
  color: #333;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding-left: 10px;
}

.link-container ul li a {
  text-decoration: none;
}

form {
  text-align: center;
}

button.round {
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid green;
  background-color: green;
}